fastapi
uvicorn[standard]
pinecone
google-generativeai
google-genai
openai
groq
python-dotenv
pydantic
gitpython
langchain
langchain-community
langchain-pinecone
langchain-openai
sentence-transformers
typer
rich
